braceexpand==0.1.7
easydict==1.10
einops==0.6.0
einops_exts==0.0.4
h5py==3.6.0
horovod==0.27.0
inflection==0.5.1
more_itertools==9.1.0
nltk==3.7
numpy==1.21.5
Pillow==9.5.0
pycocoevalcap==1.2
pycocotools==2.0.6
PyYAML==6.0
tensorboardX==2.6
torch==2.0.0
torchvision==0.15.1
tqdm==4.64.0
transformers==4.27.4
wandb==0.14.2
webdataset==0.2.48
